
    
    input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 5px;
    }

    .button {
    background-color: #f44336; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    }

    .button3:hover {
    background-color: black;
    color: white;
    }

    div.container {
    width: 500px;
    margin: auto;
    border: 3px solid #f44336;
    border-radius: 5px;;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10rem;
    }

    div.containerSuccess {
        width: 500px;
        margin: auto;
        border: 3px solid #36f45f;
        border-radius: 5px;;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 10rem;
        }